.header {
    display: flex;
    align-items: center;
    background: #0145ff8c;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.header .logo {
    max-height: 30px;

}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}

.header .logoapp{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: normal;
    padding-left: 10px;
}